@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.card {
  display: grid;
  grid-template-columns: repeat(5fr, 1fr);
  width: 200px;
  font-family: 'Roboto', sans-serif;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 10px;
  background-color: rgb(245, 245, 245);
  /* box-shadow: 5px 5px 5px 5px #293241; */
}
/* 
.container {
  display: grid; */
/* grid-template-columns: repeat(5fr, 1fr); */
/* gap: 5px;
  height: 50%;
  width: 50%;
  justify-items: center;
  align-items: center;
  color: #293241;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 30px;
} */

.card:hover {
  box-shadow: 15px 15px 15px #29324181;
}

.card-header img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-button {
  padding: 5px;
}

.button-detail {
  background-color: #053661;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.3rem;
}
.button-detail:hover {
  cursor: pointer;
  background-color: #52af90;
  border: none;

  padding: 0.3rem;
}
