.card {
  margin: 20px;
  width: 18rem;
  margin-top: 0px;
  padding-top: 0px;
  border: 1px solid rgb(100, 100, 100);
  border-radius: 10px;
  background-color: rgb(240, 239, 239);
}
.image {
  margin-left: 25%;
  height: 100px;
}
.container {
  display: grid;
  grid-template-columns: repeat(1fr, 1fr);
  gap: 5px;
  height: 50%;
  width: 50%;
  justify-items: center;
  align-items: center;
  color: black;
  margin-top: 30px;
  margin-bottom: 50p;
}
.card:hover {
  box-shadow: 20px 20px 20px rgb(246, 193, 193);
  opacity: 1;
}
