.card {
  display: grid;
  grid-template-columns: repeat(5fr, 1fr);
  width: 200px;

  border: 1px solid rgb(100, 100, 100);
  border-radius: 10px;
  background-color: rgb(240, 239, 239);
  box-shadow: 5px 5px 5px 5px black;
}
.image {
  margin-left: 25%;
  height: 100px;
}
.container {
  display: grid;
  grid-template-columns: repeat(5fr, 1fr);
  gap: 5px;
  height: 50%;
  width: 50%;
  justify-items: center;
  align-items: center;
  color: black;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 30px;
}
.card:hover {
  box-shadow: 20px 20px 20px black;
}
