/* .name {
  text-align: center;
  cursor: pointer;
  color: black;
}
.card:hover {
  transform: scale(1.05);
}
.actboton {
  margin-bottom: 50px;
} */

.body-form {
  background: linear-gradient(145deg, #053661 0%, #52af90 90%);
  height: 100%;
  margin: 0;
  color: #555;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 20px;
}
.form {
  width: 100%;
  max-width: 700px;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.input-name,
.input-duration {
  background-color: rgb(212, 212, 212);
  color: black;
  border: none;
  height: 2rem;
  width: 24em;
  margin: 8px;
}
.input-difficulty {
  padding: 5em;
}

.select {
  margin: auto;
}

.countrySelection {
  width: 100%;
}
.countriesSelected {
  display: flex;
  flex-direction: row;
  padding: 5px;
  font-family: 'Asap', sans-serif;
  font-weight: 400px;
  font-weight: 400;
  justify-content: center;
}

.list {
  padding: 10px;
  list-style-type: none;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-transform: uppercase;
  border: 1px solid #293241;
}

.btnClose {
  cursor: pointer;
  background-color: #293241;
  border: none;
  color: white;
  padding: none;
  margin: none;
}

.btnCreate {
  background-color: #053661;
  color: #fff;
  font-size: 0.9rem;
  border: 0;
  border-radius: 5px;
  height: 40px;
  padding: 0 30px;
  cursor: pointer;
  box-sizing: border-box;
}
.btnCreate:hover {
  background-color: #003664;
}
.div-btnCreate {
  padding-top: 1em;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}
.error {
  color: #ae2012;
  font-weight: 400;
  margin: 0 0 20px 0;
}
