button {
  height: 30px;
  font-size: 16px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px rgb(138, 138, 138);
  margin-top: 20px;
}
.name {
  text-align: center;
  cursor: pointer;
  color: black;
}
.card:hover {
  transform: scale(1.05);
}
.actboton {
  margin-bottom: 50px;
}
