.crear {
  background-image: url("./top-view-background-beautiful-white-grey-brown-cream-blue-background.jpg");
  background-size: cover;
  background-repeat: repeat;
  height: 100vh;
  width: auto;
  opacity: 1;
  padding-top: 100px;
}

button {
  height: 30px;
  font-size: 16px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px rgb(138, 138, 138);
  margin-top: 20px;
}
.name {
  text-align: center;
  cursor: pointer;
  color: black;
}
.card:hover {
  transform: scale(1.05);
}
