/* .name {
  text-align: center;
  cursor: pointer;
  color: black;
}
.card:hover {
  transform: scale(1.05);
}
.actboton {
  margin-bottom: 50px;
} */

.body-form {
  
  background: linear-gradient(145deg, #053661 0%, #52af90 90%);
  height: 100%;
  margin: 0;
  color: #555;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 20px;
}
.form {
  width: 100%;
  max-width: 700px;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}
.select {
  width: 100%;
  padding: 10px;
  font-family: 'Asap', sans-serif;
  font-weight: 400px;
  border: none;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.countrySelection {
  width: 100%;

}
.countriesSelected {
  display: flex;
  flex-direction: row;
  padding: 5px;
  font-family: 'Asap', sans-serif;
  font-weight: 400px;
  font-weight: 400;
}

.list {
  padding: 10px;
  list-style-type: none;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-transform: uppercase;
  border: 1px solid #293241;
}

.btnClose {
  cursor: pointer;
  background-color: #293241;
  border: none;
  color: white;
  padding: none;
  margin: none;
}

.btnCreate {
  
background-color: #196bb0;
color: #fff;
font-size: 0.9rem;
border: 0;
border-radius: 5px;
height: 40px;
padding: 0 20px;
cursor: pointer;
box-sizing: border-box;
}
.btnCreate:hover{
  background-color: #003664;
}

/* custom radio */
.radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* hide the browser's default radio button */
.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* create custom radio */
.radio .check {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 50%;
}

/* on mouse-over, add border color */
.radio:hover input ~ .check {
  border: 2px solid #377294;
}

/* add background color when the radio is checked */
.radio input:checked ~ .check {
  background-color: #c5249d;
  border:none;
}

/* create the radio and hide when not checked */
.radio .check:after {
  content: "";
  position: absolute;
  display: none;
}

/* show the radio when checked */
.radio input:checked ~ .check:after {
  display: block;
}

/* radio style */
.radio .check:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
