.orden {
  display: grid;
  gap: 2em;
  justify-items: center;
  align-items: center;
  max-width: 948px;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 2%;
  padding-left: 5%;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}
.inputs {
  display: grid;
  gap: 2em;
  justify-items: center;
  align-items: center;
  max-width: 948px;
  margin: 0 auto;
  padding-top: 1em;
  padding-left: 5%;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}

/* .orden {
  margin: 5rem auto;
  width: min(90%, 75rem);
  display: grid;
  grid-auto-flow: row;
  gap: 2em;
}
@media (min-max: 45em) {
  .orden {
    grid-auto-flow: column;
  }
} */
