.search-box {
  display: inline;
  width: 80%;
  height: 30%;
  margin: 1rem 0;
}
.search-box img {
  width: 30px !important;
}
.search-form {
  justify-content: space-between;
}

/* .search-box {
    position: relative;
}
.search-input{
    padding: 10px;
    width: 80px;
    height: 80px;
    background: none;
    border: 4px solid #ffd52d;
    border-radius: 50px;
    box-sizing: border-box;
   
    font-size: px;
    color: #ffd52d;
    outline: none;
    transition: .5s;
} */
