.search-box {
  /* display: inline;
  width: 80%;
  height: 30%;
  margin: 1rem 0; */
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  border-radius: 0.25em;
  overflow: hidden;
}
/* .search-box img {
  width: 30px !important;
} */
.search-form {
  justify-content: space-between;
}

.search-input {
  width: 23.4em;
  height: 3.2em;
  background: none;
  border: 2px solid#34495e;

  /* box-sizing: border-box; */
}

/* .search-box {
    position: relative;
}
.search-input{
    padding: 10px;
    width: 80px;
    height: 80px;
    background: none;
    border: 4px solid #ffd52d;
    border-radius: 50px;
    box-sizing: border-box;
   
    font-size: px;
    color: #ffd52d;
    outline: none;
    transition: .5s;
} */
