.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pagination {
  display: flex;
  justify-content: space-between;
  background-color: rgb(206, 205, 205);
  color: white;
  list-style: none;
  cursor: pointer;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.sal:hover {
  background-color: white;
  color: black;
}
