/* body {
  background-image: url(./verde.jpg);
  background-size: cover;
  background-repeat: repeat;
} */

/* .main {
  display: grid;
  grid-template-columns: repeat(5fr 1fr);
} */

.pagination {
  display: flex;
  width: 100%;
  list-style: none;
  transition: background-color 0.3s;
  text-align: center;
  border-radius: 5px;
  justify-content: center;

  flex-wrap: wrap;
}
.sal:hover {
  background-color: white;
  color: black;
}
.flags {
  margin-bottom: 30px;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  color: black;
  margin-right: 30px;
  margin-left: 30px;
}
.margin {
  margin-left: 0;
}
