.detail_container {
  transition: all 0.6s ease-in-out;
  width: 90%;
  margin: auto;
  border-radius: 15px;
  padding: 1.5rem;
  max-width: 948px;
}

.container-activity {
  display: grid;
  gap: 2em;
  justify-items: center;
  align-items: center;

  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 2%;
  padding-left: 5%;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-auto-rows: minmax(100px, auto);
}

.box-activity {
  text-decoration: none;
  color: white;
  width: 16em;
  height: auto;
  padding: 1em;
  border: 2px solid #053661;
  background-color: #003664;
}

.btnActivity {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 0.9rem;
  border: 0;
  border-radius: 5px;
  height: 40px;
  padding: 0 30px;
  cursor: pointer;
  box-sizing: border-box;
}
.btnActivity:hover {
  background-color: #52af90;
}

.atras {
  display: flex;
  margin: 2vh 0;
  justify-content: flex-start;
  justify-items: center;
  align-self: center;
}

.atras img {
  width: 35px;
}

.atras button {
  border: none;
  background-color: white;
}

.atras:hover {
  cursor: pointer;
}
