.detail_container {
  transition: all 0.6s ease-in-out;
  width: 90%;
  margin: auto;
  border-radius: 15px;
  padding: 1.5rem;
}

.atras img {
  width: 35px;
}

.atras button {
  border: none;
  background-color: white;
}
