.landing {
  background-image: url("./28-281960_images-for-vintage-world-map-background-data-src.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: auto;
  opacity: 0.8;
}
.button {
  width: 200px;
  border: 1px solid white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 12px;
  font-size: 24px;
}
