.landing {
  background-image: url("./juliana-kozoski-IoQioGLrz3Y-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: auto;
  opacity: 1;
  padding-top: 100px;
}
.button {
  width: 200px;
  border: 1px solid white;
  box-shadow: 5px 5px 5px #530027;
  border-radius: 6px;
  font-size: 24px;
}
.button:hover {
  box-shadow: 10px 10px 10px #530027;
  width: 250px;
  height: 50px;
  transform: scale(1.3);
  transition: 0.3s;
  font-size: 26px;
  border-radius: 6px;
}
.lText {
  font-size: 13vw;
  color: white;
  text-shadow: 2px 0 10px #ffc6c6;
}
.copyright {
  color: white;
  text-align: bottom;
  font-size: 2vw;
}
